.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap; /*para que todos los elementos no esten en la misma linea sino que se vayan reajustando de acuerdo a su tamaño*/
  justify-content: center; /*para centrar los elementos tanto vertical como horizontalmente*/
  align-items: center;     /*para centrar los elementos tanto vertical como horizontalmente*/
}

.freecodecamp-logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  height: 40px;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid black;
}

.fila {
  margin: 4px;
  display: flex; /* no incluimos flex-wrap: wrap porque queremos q todos los elementos se muestren en una sola linea*/
  align-items: center;
  justify-content: center;
}